[Desktop Entry]
Encoding=UTF-8
Name=PenguinTV Media Aggregator
Comment=Aggregates podcasts, video blogs, and rss feeds
TryExec=PenguinTV
Exec=PenguinTV %U
Terminal=false
Type=Application
Categories=Application;Network;
Icon=penguintvicon.png
