[Desktop Entry]
Encoding=UTF-8
Name=PenguinTV Media Aggregator
Comment=Aggregates rss feeds, podcasts, and video blogs
TryExec=PenguinTV
Exec=/usr/bin/PenguinTV
Terminal=false
Type=Application
Categories=Internet
Icon=penguintvicon
X-Osso-Service=com.ywwg.PenguinTV
X-Osso-Type=application/x-executable
StartupWMClass=penguintv
