body {
        margin-left: 10px;
        margin-right: 10px;
       // background-color: #fffe92;
       font-size: 9pt;
}

.heading { 
	background-color: #f0f0ff; 
	border-width:1px; 
	border-style: solid; 
	padding:6pt; 
	margin:6pt;
	font-size: 12pt; 
}

//#nav_bar {
    // border-width: 2px;
     //border-style: solid;
//}

.feed_title {
        font-size: 12pt;
        font-weight: bold;
        text-align: center;
        padding: 6pt;
}

.entry {
      border-width: 3px;
      border-style: solid;
      border-color: #333;
      background-color: #f5f7fa;
      margin-top: 6pt;
      padding: 3pt;
      overflow: auto;
}

.entry_new {
      border-width: 3px;
      border-style: solid;
      border-color: #333;
      background-color: #f5f7fa;
      margin-top: 6pt;
      padding: 3pt;
      overflow: auto;
}

.entry_old {
      border-width: 2px;
      border-style: solid;
      border-color: #777;
      background-color: #e0e3e8;
      margin-top: 6pt;
      padding: 3pt;
      overflow: auto;
}

.stitle {
	font-size: 9pt; 
	font-weight:bold; 
//	font-family: Sans-Serif; 
	padding-bottom:12pt;
}

.sdate {
	font-size:8pt; 
	color: #444;
	font-style: italic;
}

.content {
	padding-left:9pt;
	margin-top:3pt;
}

.media {
	background-color:#ddd; 
	border-color:#000000; 
	border-width:2px; 
	border-style: solid; 
	padding:6pt; 
	margin:6pt; 
	overflow: auto;
}

dd { 
	padding-left: 9pt; 
}  

q { font-style: italic;}

blockquote { 
	display: block; 
	color: #444444; 
	background-color:#EEEEFF; 
	border-color:#DDDDDD; 
	border-width:2px; 
	border-style: solid; 
	padding:6pt; 
	margin:6pt;
}

.blockquote { 
	display: block; 
	color: #444444; 
	background-color:#EEEEFF; 
	border-color:#DDDDDD; 
	border-width:2px; 
	border-style: solid; 
	padding:12pt; 
	margin:12pt;
}
