body {
        margin-left: 24px;
        margin-right: 24px;
       // background-color: #fffe92;
}

.heading { 
	background-color: #f0f0ff; 
	border-width:1px; 
	border-style: solid; 
	padding:12pt; 
	margin:12pt; 
}

//#nav_bar {
    // border-width: 2px;
     //border-style: solid;
//}

.feedtitle {
        font-size: large;
        font-weight: bold;
        text-align: center;
        padding: 12pt;
}

.entrynew {
      border-width: 3px;
      border-style: solid;
      border-color: #333;
      background-color: #f5f7fa;
      margin-top: 12pt;
      padding: 6pt;
      overflow: auto;
}

.entryold {
      border-width: 2px;
      border-style: solid;
      border-color: #777;
      background-color: #e0e3e8;
      margin-top: 12pt;
      padding: 6pt;
      overflow: auto;
}

.stitle {
	font-size: 12pt; 
	font-weight:bold; 
//	font-family: Sans-Serif; 
	padding-bottom:20pt;
}

.sdate {
	font-size:8pt; 
	color: #444;
	font-style: italic;
}

.content {
	padding-left:20pt;
	margin-top:12pt;
}

.media {
	background-color:#ddd; 
	border-color:#000000; 
	border-width:2px; 
	border-style: solid; 
	//padding:8pt; 
	margin:8pt; 
	overflow: auto;
}

.media a img { border: none ; }

dd { 
	padding-left: 20pt; 
}  

q { font-style: italic;}

blockquote { 
	display: block; 
	color: #444444; 
	background-color:#EEEEFF; 
	border-color:#DDDDDD; 
	border-width:2px; 
	border-style: solid; 
	padding:12pt; 
	margin:12pt;
}

.blockquote { 
	display: block; 
	color: #444444; 
	background-color:#EEEEFF; 
	border-color:#DDDDDD; 
	border-width:2px; 
	border-style: solid; 
	padding:12pt; 
	margin:12pt;
}
